html {
  background-color: #F4F4F4;
  text-transform: lowercase;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

.App {
  margin: 0 auto;
  max-width: 1000px;
}

@media only screen and (max-width: 600px) {
  .App {
    margin: 0 10%;
  }
}